---

# *** Local variables (Facts).

- set_fact:
    HACK_VERS_MAJOR: 'v3'
    HACK_VERS_MINOR: '003'

- set_fact:
    HACK_VERS: "{{ HACK_VERS_MAJOR }}.{{ HACK_VERS_MINOR }}"

- set_fact:
    HACK_FILE: "Hack-{{ HACK_VERS }}-ttf"

# *** Alert user if newer version.

# FIXME/2018-12-23: Run this and other curl's, or check GitHubs, for latest versions (of things).

- name: Check for new version of Hack.
  shell: "curl -s https://api.github.com/repos/source-foundry/Hack/releases/latest | jq -r '.tag_name'"
  register: LATEST_VERSION
  args:
    # else, ansible bugs us to use get_url:
    warn: False

#  if [[ "${LATEST_VERS}" != "${HACK_VERS}" ]]; then
#    echo "A new version of Hack! ${LATEST_VERS}"
#    # FIXME: Maybe adapt to their being a new version...
#    echo "MANUALLY FIX THIS TO CONTINUE, LAWYER DOG!!"
#    exit 1
#  fi

- debug: msg="Latest HACK∷ {{ LATEST_VERSION.stdout }}"

- fail: msg="Update HACK! / Latest∷ {{ LATEST_VERSION.stdout }} / Current∷ {{ HACK_VERS }}"
  when: HACK_VERS != LATEST_VERSION.stdout

# *** Do the work.

- name: Fetch the Hack font release, if not previously downloaded
  get_url:
    url: "https://github.com/source-foundry/Hack/releases/download/{{ HACK_VERS }}/{{ HACK_FILE }}.zip"
    dest: "{{ zoidy_homefries_downloads_dir }}/"

- name: Ensure user home font directory directory exists
  file: path="{{ ansible_env.HOME }}/.fonts/{{ HACK_FILE }}/" state=directory

- name: Unarchive the Hack font release archive (Install Font- HACK!)
  unarchive:
    src: "{{ zoidy_homefries_downloads_dir }}/{{ HACK_FILE }}.zip"
    dest: "{{ ansible_env.HOME }}/.fonts/{{ HACK_FILE }}/"
    remote_src: yes
  notify: Build font information cache files

